/*Final Project CSS*/
body {
  margin: 0 auto;
  padding: 1em;
  background: #f5f7f7;
}

#mainHeaderWrap.stick {
  position: normal;
}

@media (min-width: 800px) {
  #mainHeaderWrap.stick {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
  }
}

#mainHeaderWrap {
	background-color: #343838;
	color: #FFFEDF;
}
#mainHeader {
	padding: 0 2em;
}
#mainHeader h1 {
	color: #FFF;
}
#mainHeader div#search {
	margin: 1.25em 0 0;
	float: right;
	font-size: 18px;
}
#mainHeader div#search input {
	outline: 0;
	padding: 0.25em;
}

div#mastHead {
  margin: 1em 0;
  padding: 4em 0;
  background-size: cover;
  background-position: center center;
}
div#mastHead h1 {
  color: #FFF;
  text-align: center;
}

div#content h2 {
	color: #00B4FF;
}
div#content ul {
  padding: 0;
}
div#content ul li {
  list-style-type: none;
}

div#content div.blockWrap {
  background-color: #FFF;
  margin: 0.25em;
  border-radius: 5px;
}

div#content div.block {
  padding: 0.75em;
}

div#content div.block#instagram ul li {
  display: inline;
}

div#content div#yelp .text {
  float: left;
}
div#content div#yelp .text a {
	
}
div#content div#yelp .rating {
  float: right;
}
div#content div#yelp .listings {
  clear: both;
}



footer {
	padding: 0 1em;
}