/*Final Project CSS*/
body {
  margin: 0 auto;
  padding: 1em;
  background: #F5F7F7;
}

#mainHeaderWrap.stick {
  position: normal;
}

@media (min-width: 800px) {
  #mainHeaderWrap.stick {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
  }
}

#mainHeaderWrap {
	background-color: #343838;
	color: #FFFEDF;
}
#mainHeader {
	padding: 0 2em;
}
#mainHeader h1 {
	color: #FFF;
}
#mainHeader div#search {
	margin: 1.25em 0 0;
	float: right;
	font-size: 18px;
}
#mainHeader div#search input {
	outline: 0;
	padding: 0.25em;
}
#mainHeader div#search input[type="submit"] {
	background-color: #00B4FF;
	color: #FFF;
	border: 0;
	padding: 0.4em;
}

div#mastHead {
  margin: 1em 0;
  padding: 4em 0;
  background-size: cover;
  background-position: center center;
}
div#mastHead h1 {
  color: #FFF;
  text-align: center;
}

div#content h2 {
	color: #00B4FF;
}
div#content ul {
  padding: 0;
}
div#content ul li {
  list-style-type: none;
}

div#content div.blockWrap {
  background-color: #FFF;
  margin: 0.25em;
  border-radius: 5px;
}

div#content div.block {
  padding: 0.75em;
}

div#content div.block#instagram ul li {
  display: inline;
}

div#content div#restaurants ul li {
	display: block;
	clear: both;
	padding: 0.15em 0;
}
div#content div#yelp .text {
	width: 50%;
  float: left;
}
div#content div#yelp .text a {
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	background-color: #343838;
	padding: 0.4em 0.35em;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
div#content div#yelp .text a:hover {
	color: #00B4FF;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
div#content div#yelp .rating {
  float: right;
  width: 50%;
 text-align: right;
}
div#content div#yelp .listings {
}
div#content div#yelp .listings img {
	filter: saturate(0%);
	-webkit-filter: saturate(0%);
	-moz-filter: saturate(0%);
	-o-filter: saturate(0%);
	-ms-filter: saturate(0%);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
div#content div#yelp .listings:hover img {
	filter: saturate(100%);
	-webkit-filter: saturate(100%);
	-moz-filter: saturate(100%);
	-o-filter: saturate(100%);
	-ms-filter: saturate(100%);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

footer {
	padding: 0 1em;
}

@media screen and (max-width: 48em) {
	#mainHeaderBar h1 {
		text-align: center;
		margin: 0.25em 0;
	}
	#mainHeader div#searchWrap {
		display: block;
		margin: 0.25em 0;
	}
	#mainHeader div#search {
		float: none;
		display: table;
		margin: 0.5em auto;
	}
	#mainHeader div#search input {
		margin: 0 0.25em;
	}
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
