/*Final Project CSS*/
body {
  margin: 0 auto;
  padding: 1em;
  background: #FFF;
}

#mainHeaderWrap.stick {
  position: normal;
}

@media (min-width: 800px) {
  #mainHeaderWrap.stick {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
  }
}

#mainHeaderWrap {
	background-color: #444;
}
#mainHeader {
	padding: 0 2em;
}
#mainHeader h1 {
	color: #FFF;
}
#mainHeader div#search {
	margin: 1.5em 0 0;
	float: right;
	font-size: 18px;
}
#mainHeader div#search input {
	outline: 0;
}


.text {
  float: left;
}

.rating {
  float: right;
}

.listings {
  clear: both;
}

div#mastHead {
  margin: 1em 0;
  padding: 4em 0;
  background-size: cover;
  background-position: center center;
}
div#mastHead h1 {
  color: #FFF;
  text-align: center;
}

div#content ul {
  padding: 0;
}

div#content ul li {
  list-style-type: none;
}

div#content div.blockWrap {
  background-color: #EEE;
  margin: 0.25em;
}

div#content div.block {
  padding: 0.75em;
}

div#content div.block#instagram ul li, div#content div.block#flickr ul li {
  display: inline;
}

footer {
  text-align: center
}